<hr>
<div id="footer">
  <div class="container">
      <ul class="list-inline">
      <li class="footer-inverse"><a href="https://github.com/rediaz111"><i class="fa fa-github-alt fa-2x"></i></a></li>
      <li class="footer-inverse"><a href="https://twitter.com/robbiediaz_"><i class="fa fa-twitter fa-2x"></i></a></li>
      <li class="footer-inverse"><a href="https://scholar.google.com/citations?user=L_OCeG4AAAAJ&hl=en"><i class="fa fa-google fa-2x"></i></a></li>
      <li class="footer-inverse"><a href="mailto:rediaz111@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></li>
      <li class="footer-inverse"><a href="https://fraserlab.com/"><i class="fa fa-university fa-2x"></i></a></li>
      </ul>
  </div>
</div>

</div>
    <div class="footer">
      <div class="container">
        <p class="text-muted credit"> This website is open-source and available on <a href="https://github.com/fraser-lab/fraser-lab.github.io" target="_blank">GitHub</a>.</p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
