---
title: Advocacy
layout: default
group: advocacy
---
<h1>Advocacy</h1>
<div class="container-fluid">
<hr>

{% for project in site.advocacy reversed | sort: "date" %}<hr>
<div class="row" style="padding-top: 60px; margin-top: -60px;">
	<div>
		<h2>{{ project.title | markdownify }}</h2>
		{% if project.description %}
			<h4>{{ project.description  | markdownify }}</h4>
		{% endif %}
	</div>

<div class="row" style="padding-top: 20px; margin-top: -20px">
	<div class="col-sm-6">
	</div>
</div>

<br>
{% endfor %}
</div>

<footer class="blockquote-footer; text-center" style="font-size: 16px">
  <em>
  Any community seriously concerned with its own freedom <br>
	has to be concerned about other peoples’ freedom as well.<br>
  </em>
  Assata Shakur
</footer>
